<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <!-- Körs från logout i EE -->
      <speak.logout argsType="Sitecore.Pipelines.Logout.LogoutArgs">
        <processor patch:befre="*[@type='Sitecore.Pipelines.Logout.ClearCache, Sitecore.Kernel']" mode="on" type="SitecoreOwinFederatorLiU.pipelines.Logout.HandleSitecoreLogout, SitecoreOwinFederatorLiU" />
      </speak.logout>
    </pipelines>
    <processors>
      <!-- Körs från logout i CE/Launchpad-->
      <logout argsType="Sitecore.Pipelines.Logout.LogoutArgs">
        <processor patch:before="*[@type='Sitecore.Pipelines.Logout.ClearCache, Sitecore.Kernel']" mode="on" type="SitecoreOwinFederatorLiU.pipelines.Logout.HandleSitecoreLogout, SitecoreOwinFederatorLiU" />
      </logout>
    </processors>
  </sitecore>
</configuration>